h1,
h2 {
  letter-spacing: 0.2rem;
}

body {
  font-family: "Bubblegum Sans", cursive;
  margin: 0rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

img {
  max-height: 300px;
}

#map {
  height: 360px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.infoWindowText {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

#mapLink {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: underline;
  color: #0000ff;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.modal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.modal-detail {
  font-size: 16px;
  margin-bottom: 10px;
}

/* .modal-close-button {
  border: none;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-header {
  font-size: 20px;
  margin-bottom: 20px;
}
.modal-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
.modal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.modal-detail {
  font-size: 16px;
  margin-bottom: 10px;
}
/* .modal-close-button {
  border: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
} */
